.main-container {
  background-color: #192030;
  color: #dce0d9;
  font-weight: 400;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  border: none;
  box-sizing: border-box;
  margin: 0 0 1em 0;
  padding: 0;
  text-transform: none;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;

}
.wrapper{
  height: 100%;
  width: 100%;
}
.title-card, .question-card{
  text-align: center;
  margin:0.5em;
  min-height: 320px;
}
.title-text, .question {
  min-height:40px;
  background-color: #dce0d9;
  color: #192030;
  padding-top:1em;
  font-weight: bold;
  border-radius: 3px;
}
.title-image {
  margin:0.5em 0 0.5em 0;
  max-width: 20%;
  max-height: 60%
}
.start-button, .prev-button, .next-button {
  color: #fff !important;
  width: 8em;
  background: transparent !important;
  box-sizing: border-box !important;
  font-family: 'Nunito',! sans-serif important;
  font-weight: bold !important;

  padding: 0.7em 1.1em 0.7em 1.1em !important;
  margin-top: 0.5em !important;
  border-radius: .2em !important;
  text-align: center !important;
  border: solid 1px white !important;
}

.start-button:hover, .prev-button:hover, .next-button:hover {
  color: #192030 !important;
  background: #dce0d9 !important;
}

.prev-button {
  margin-right:2em ;
}


.answer-div {
  display: inline-block;
  min-width: 15%;
  max-width: 20% !important;
  margin: 1em;
  background-color: rgba(242, 242, 242, 0.3);
  padding:.5em;
  border-radius: 0.5em;
}
.answer-div:hover{
  cursor: pointer;
  /* background: linear-gradient(
  #7f857a, #7f857a 50%, #111622 50%, #111622
  ); */
  background: rgb(17,22,34);
background: linear-gradient(0deg, rgba(17,22,34,1) 40%, rgba(127,133,122,1) 50%); 
}
.answer-text {
  font-size: 1em;
  font-weight: 500;
}
.answer-image {
  max-width: 100% !important;
}
